<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Original Price </span>
  </div>
  <input type="number" class="form-control" placeholder="Enter cost" aria-label="Enter" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">New Price </span>
  </div>
  <input type="number" class="form-control" placeholder="Enter Amount" aria-label="Enter" aria-describedby="basic-addon1">
</div>

<!-- <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Difference </span>
  </div>
  <input type="number" class="form-control" placeholder="Enter Year" aria-label="Enter" aria-describedby="basic-addon1">
</div> -->

<p class="cost-text">
  Inflation Amount: {{this.percentage}}
</p>

<div class="btn-group" class="row content-center" role="group" aria-label="Basic example">  
    <button type="button" class="btn btn-danger" style="display: block; margin: 0 auto;">Clear! </button>
  <button type="button" class="btn btn-success" style="display: block; margin: 0 auto;" (click)="inflationFormula()">Calculate! </button>
  <button type="button" class="btn btn-primary" style="display: block; margin: 0 auto;">Save to History! </button>
</div>