<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">If in </span>
  </div>
  <input type="text" class="form-control" placeholder="Enter Year" aria-label="Enter" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">I purchased an item for $ </span>
  </div>
  <input type="text" class="form-control" placeholder="Enter Amount" aria-label="Enter" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Then in </span>
  </div>
  <input type="text" class="form-control" placeholder="Enter Year" aria-label="Enter" aria-describedby="basic-addon1">
</div>

<p class="cost-text">
  The same item would cost:
</p>

<div class="btn-group" class="row content-center" role="group" aria-label="Basic example">  
    <button type="button" class="btn btn-danger" style="display: block; margin: 0 auto;">Clear! </button>
  <button type="button" class="btn btn-success" style="display: block; margin: 0 auto;">Calculate! </button>
  <button type="button" class="btn btn-primary" style="display: block; margin: 0 auto;">Save to History! </button>
</div>