<mat-toolbar class="navbar navbar-dark bg-dark">
<div class="row-two">
  <div class="container-padding">
    <!-- r2c1 -->
  </div>
  <div class="container-padding" style="display: block; margin: 0 auto;">
    <button type="button" (click)="navigateTo('')" class="btn btn-secondary">Interest</button>
    <button type="button" (click)="navigateTo('inflation')" class="btn btn-secondary">Inflation</button>
    <button type="button" (click)="navigateTo('bond-growth')" class="btn btn-secondary">Bond Growth</button>
    <button type="button" (click)="navigateTo('rule-seventwo')" class="btn btn-secondary">Rule of 72</button>
  </div>
  <div class="container-padding">
    <!-- r2c3 -->
  </div>
</div>
</mat-toolbar>