@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue
}

.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 10fr;
}

.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    height: 100%;
    width: 100%;
}

.row-two {
    }

.row-three {
}

.container-padding {
    /* margin: 10px; */
    /* border: solid gray; */
}