<div class="row-three">
  <div class="container-padding">
    r3c1
  </div>
  <div class="container-padding">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Starting Amount: $</span>
      </div>
      <input type="text" class="form-control" placeholder="Enter" aria-label="Enter" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Years to Save: </span>
      </div>
      <input type="text" class="form-control" placeholder="Enter" aria-label="Enter" aria-describedby="basic-addon1">
      <button type="button" class="btn btn-warning">Random</button>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Interest Rate: %</span>
      </div>
      <input type="text" class="form-control" placeholder="Enter" aria-label="Enter" aria-describedby="basic-addon1">
    </div>
    
    <div class="dropdown">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Frequency: </span>
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Choose
        </a>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Monthly</a>
        <a class="dropdown-item" href="#">Quarterly</a>
        <a class="dropdown-item" href="#">Semi-Annually</a>
        <a class="dropdown-item" href="#">Annually</a>
      </div>
    </div>
    
    <button type="button" class="btn btn-success" style="display: block; margin: 0 auto;">Calculate! </button>

  </div>
  <div class="container-padding">
    r3c3
  </div>
</div>